/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
*/

*{
    border:2px solid rgb(107, 107, 107);
}


.inter-variable {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #63358B;
    padding: 2rem;
    
}

header {
    background-color: #e1e5d6;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid #000000;
    min-width: 500px;
    max-width: 1000px;
    margin: 10px auto;
}

.intro {
    font-size: 10em;
    text-align: center;
    font-weight:900;
    transition: all .25s ease-in-out;
    color: #6B6B6B;

}

.intro:hover {
    font-weight:100;
    color:coral;    
}

.subintro {
    font-weight: 800;
    width: 500px;
    color: rgb(107, 107, 107); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitleName{
    font-weight: 450;
    color: rgb(107, 107, 107); 
    text-align: center;
    text-transform: uppercase;
}




.left {
    text-align:left;
}

.right {
    text-align: right;
}


.firstSection {
    background-color: #281010;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid #281010;
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    margin: 30px auto;
    color: #ff4e17;
}

.firstSectionShape {
    background-color: #281010;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid #281010;
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    margin: 30px auto;
    color: #ff4e17;
}


